.teste{
            border: 10px solid rebeccapurple
            display: flex;
            
        }
        div{
            background-color: rgb(255, 255, 255);
            width:50%
        }
        #nome{
            height:100px;
            width:100px;
        }
        .teste:hover{
            border: 10px solid rgb(255, 0, 0);
        }
        .tam{
            height: 50%;
            width: 50%;
